@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/reset.css" />
    <link rel="stylesheet" href="~/bootstrap.css" />
    <link rel="stylesheet" href="~/style.css" />

    <script type="text/javascript" src="~/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/bootstrap.js"></script>
    <title>موقع الشيخ محمد بازمول</title>
</head>
<body>

    <section class="header">
        @if (!User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Login", "Account")">Login</a>
        }
        else
        {
            <form asp-action="Logout" asp-controller="Account" method="post">
                <div class="input-group">
                    <span>@User.Identity.Name</span>
                    <button type="submit" class="btn btn-link">Logout</button>
                </div>
            </form>

        }
        <nav class="socialMedia"></nav>
        <aside class="search">
            <form></form>
        </aside>
    </section>

    <section class="name">
        <img src="~/img/banner.png" />
    </section>



    <section class="mainContent">
        <aside class="menuItems">
            <nav class="mainNavagation">
                <ul>
                    
                    <li><a href="@Url.Action("AdminIndex","Lecture")"><img src="~/img/lectures.gif" /></a></li>
                    <li><a href="@Url.Action("AdminIndex","Explanation")"><img src="~/img/explanation.gif" /></a></li>
                    <li><a href="@Url.Action("AdminIndex","Writing")"><img src="~/img/books.gif" /></a></li>
                    <li><a href="@Url.Action("AdminIndex","Article")"><img src="~/img/articles.gif" /></a></li>
                    
                    
                </ul>
            </nav>
        </aside>
        @RenderBody()
    </section>
    <section class="bottomContent">
        <img src="~/img/footerContent.png" />
    </section>
    <section class="footer">
        <aside class="copyright"></aside>
    </section>
</body>
</html>
