@model ShBazmool.ViewModels.WritingViewModel
@{
    Layout = "_Layout";
}

<article class="audio">
    <table class="table-bordered">
        <tr><th colspan="7">  الكتب <img src="~/img/register.png" class="th-img" /></th></tr>
        @foreach (var item in Model.Books)
        {

            <tr><td><img src="~/img/download.png" /></td><td><a href="@Url.Action("Read","Writing", new { id = item.ID})" target="_blank"><img src="~/img/openBook.png" /></a></td><td><img src="~/img/share.png" /></td> <td><a href="@Url.Action("BookType","Writing", new { id = item.ID})" target="_blank"> @item.Category </a><img src="~/img/register.png" /></td> <td><a href="@Url.Action("Read","Writing", new { id = item.ID})" target="_blank"> @item.Title </a></td><td><a href="@Url.Action("Read","Writing", new { id = item.ID})" target="_blank"><img src="~/img/pen.png" /></a></td></tr>

        }
    </table>

    @if (Model.PagerView.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.PagerView.CurrentPage > 1)
            {
                <li>
                    <a href="~/Explanation/Index">First</a>
                </li>
                <li>
                    <a href="~/Explanation/Index?page=@(Model.PagerView.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (var page = Model.PagerView.StartPage; page <= Model.PagerView.EndPage; page++)
                {
                <li class="@(page == Model.PagerView.CurrentPage ? "active" : "")">
                    <a href="~/Explanation/Index?page=@(page)">@(page)</a>
                </li>

            }
            @if (Model.PagerView.CurrentPage < Model.PagerView.TotalPages)
                {
                <li>
                    <a href="~/Explanation/Index?page=@(Model.PagerView.CurrentPage + 1)">Next</a>

                </li>
                <li>
                    <a href="~/Explanation/Index?page=@(Model.PagerView.TotalPages)">Last</a>

                </li>

            }
        </ul>
    }

</article>

